#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  overflow: auto
}
#menu__toggle:checked ~ .menu__area {
  display: block
}