:root {
  --dark: #323232;
  --dark-2: #262626;
  --adaptive: * ((100vw - 320px) / (1920 - 320));
  --green: rgb(39, 174, 96)
}
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0
}
::-webkit-scrollbar-track {
  background-color: var(--dark)
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--green)
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,var(--dark)),to(var(--green)));
  background: linear-gradient(180deg,var(--dark) 0,var(--green) 100%)
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px
}
html {
  scroll-behavior: smooth
}
body {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: .05em;
  color: #fff
}
input:focus {
  outline: 0
}
.b-lazy,
.swiper-lazy {
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0
}
.b-lazy.b-loaded,
.swiper-lazy.swiper-lazy-loaded {
  opacity: 1
}
.text-green {
  color: var(--green)
}
.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgba(39,174,96,var(--tw-bg-opacity))
}
.text-shadow-2xl {
  text-shadow: 0 0 1rem #000
}
.text-shadow-5xl {
  text-shadow: 0 0 3rem #000
}
.swiper-container {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1
}
.fw-800 {
  font-weight: 800
}
.fw-600,
.fw-600_hov:active,
.fw-600_hov:focus,
.fw-600_hov:hover {
  font-weight: 600
}
.fw-400 {
  font-weight: 400
}
.fs-30 {
  font-size: calc(20px + 10 var(--adaptive))
}
.fs-22 {
  font-size: calc(16px + 6 var(--adaptive))
}
.fs-18 {
  font-size: calc(14px + 4 var(--adaptive))
}
.fs-0 {
  font-size: 0
}
.bg-dark {
  background-color: var(--dark)
}
.bg-dark-2 {
  background-color: var(--dark-2)
}
.bg-orange {
  background-color: #f2994a
}
.wrapper {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 calc(20px + 30 var(--adaptive))
}
.wrapper-px {
  padding-left: calc(20px + 30 var(--adaptive));
  padding-right: calc(20px + 30 var(--adaptive))
}
.wrapper-px-0 {
  padding-left: calc(0px + 50 var(--adaptive));
  padding-right: calc(0px + 50 var(--adaptive))
}
.wrapper-0 {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 calc(0px + 50 var(--adaptive))
}
.z-1 {
  z-index: 1
}
.-z-1 {
  z-index: -1
}
.min-h-inerit {
  min-height: inherit
}
.min-h-screen-header {
  min-height: calc(100vh - (80px + 10 var(--adaptive)))
}
.h-max {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content
}
.input__area {
  background: #fff;
  opacity: .5;
  border: 1px solid #000;
  border-radius: 10px
}