@screen sm{
    .icon__item:nth-child(2):hover,
    .icon__item:nth-child(3):hover,
    .icon__item:nth-child(4):hover{
        min-width:280px;
    }
    .icon__item:nth-child(1){
        max-width:280px;      
    }
    .icon__block{
        max-width:412px;
    }
}
@screen md{
    .nav{
        @apply max-w-none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px){
    .header:after{
        content: "";
        background-color: var(--dark);
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }
    .header{
        background-color: #292929;
        transition: height 1s ease;
    }
    .header-pod{
        height: 128px;
        height: calc(80px + 10 var(--adaptive));
    }
    .nav,.header:hover > div > div >nav{
        max-height: 200px;
        visibility: visible;
        opacity: 1;
        transition: opacity 500ms ease 300ms,max-height 500ms ease;
    }
    .nav-hide{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 500ms ease,max-height 500ms ease 300ms;
    }
} 