@media (min-width:640px) {
  .icon__item:nth-child(2):hover,
  .icon__item:nth-child(3):hover,
  .icon__item:nth-child(4):hover {
    min-width: 280px
  }
  .icon__item:nth-child(1) {
    max-width: 280px
  }
  .icon__block {
    max-width: 412px;
    max-width: calc(280px + (3 * 44px))
  }
  .header__logo::after {
    content: "";
    position: absolute;
    right: -10px;
    height: 100%;
    max-height: 50px;
    width: 1px;
    background-color: #fff
  }
  .callback-form {
    width: 330px;
    -webkit-transform: rotate(-90deg) translateY(calc(50vw + 25%));
    transform: rotate(-90deg) translateY(calc(50vw + 25%))
  }
  .form__block {
    -webkit-box-shadow: 10px 10px rgb(0 0 0 / 30%);
    box-shadow: 10px 10px rgb(0 0 0 / 30%)
  }
  .portfolio > .swiper-wrapper > .swiper-slide,
  .portfolio > .swiper-wrapper > .swiper-slide > a {
    --size: 414px
  }
  .sm\:bg-dark {
    background-color: var(--dark)
  }
  .sm\:wrapper-px-0 {
    padding-left: calc(0px + 50 var(--adaptive));
    padding-right: calc(0px + 50 var(--adaptive))
  }
  .sm\:active__item::after {
    width: 100%;
    outline-offset: 0;
    outline: 0
  }
}
@media (min-width:768px) {
  .menu__box {
    background-color: transparent
  }
}
@media screen and (min-width:768px) and (max-width:1280px) {
  .header:after {
    content: "";
    background-color: var(--dark);
    position: absolute;
    min-width: 100%;
    top: 0;
    z-index: -1
  }
  .header {
    background-color: var(--dark-2)
  }
  .header-pod {
    height: 128px;
    height: calc(80px + 10 var(--adaptive))
  }
  .header:hover > div > div > nav,
  .nav {
    max-height: 200px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s .3s,max-height .5s;
    transition: opacity .5s .3s,max-height .5s
  }
  .nav-hide {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s,max-height .5s .3s;
    transition: opacity .5s,max-height .5s .3s
  }
}