@media (min-width:640px) {
  .icon__item:nth-child(2):hover,
  .icon__item:nth-child(3):hover,
  .icon__item:nth-child(4):hover {
    min-width: 280px
  }
  .icon__item:nth-child(1) {
    max-width: 280px
  }
  .icon__block {
    max-width: 412px
  }
}
@media (min-width:768px) {
  .nav {
    max-width: none
  }
}
@media screen and (min-width:768px) and (max-width:1280px) {
  .header:after {
    content: "";
    background-color: var(--dark);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1
  }
  .header {
    background-color: #292929;
    -webkit-transition: height 1s;
    transition: height 1s
  }
  .header-pod {
    height: 128px;
    height: calc(80px + 10 var(--adaptive))
  }
  .header:hover > div > div > nav,
  .nav {
    max-height: 200px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s .3s,max-height .5s;
    transition: opacity .5s .3s,max-height .5s
  }
  .nav-hide {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s,max-height .5s .3s;
    transition: opacity .5s,max-height .5s .3s
  }
}