.grecaptcha-badge{display:none !important}
.header{
  max-height: 140px;
  z-index: 10;
}
.header-pod{
  height: calc(80px + 10 var(--adaptive));
}
.header__logo{
  min-width: 50px;
  max-width: 200px;
  background-image: url(../img/svg/logo1.svg);
  height: calc((80px + 10 var(--adaptive)) * 0.8);
  min-height: 64px;
}
.nav{
  min-width: 50px;
  display: none;
}
.header__item{
  padding:10px
}
.menu__list{}
.list__link{
	font-style: normal;
	font-size: 18px;
	line-height: 143.4%;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
	color: white;
	letter-spacing: 0.145em;
}
.list__link:hover, .list__link:active, .list__link:focus{
	opacity: .75;
}
.header__logo:hover, .header__logo:active, .header__logo:focus{
	opacity: .75;
}
/*Mobile button*/
#menu__toggle {
	opacity: 0;
	display: none;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
	overflow: auto;
  }
  #menu__toggle:checked ~ .menu__area {
	display: block;
  }
  .menu__area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 25vw;
	min-width:calc(100vw - 300px);
	height: 100vh;
  }
  .menu__btn {
	display: none;
	align-items: center;
	position: fixed;
	top: calc(((80px + 10 var(--adaptive)) / 2 ) - 13px);
	right: 20px;
  
	width: 26px;
	height: 26px;
  
	cursor: pointer;
	z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
  
	width: 100%;
	height: 2px;
  
	background-color: white;
  
	transition-duration: .5s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
/*Mobile button*/
.icon__block{
  max-width:412px;
  width:auto;
  display:flex;
  flex-direction:row;
  list-style-type: none;
  justify-content:flex-end;
  position:relative;
  height: calc(80px + 10 var(--adaptive));
}
.icon__item{
  transition:min-width 0.8s ease;
  position:relative;
  width:44px;
  min-width:44px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  overflow:hidden;
}
.icon__img{
  left:0;
  min-width:44px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.call__img{
  background-image: url(../img/svg/call.svg);
}
.inst__img{
  background-image: url(../img/svg/inst.svg);
}
.wa__img{
  background-image: url(../img/svg/wa.svg);
}
.mail__img{
  background-image: url(../img/svg/mail.svg);
}
.icon__text{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin:auto;
  left: 44px;
  min-width: max-content;
}
.icon__item:nth-child(1){
  background-color: #6792FF;
  max-width:280px;
  width:280px;
}
.icon__item:nth-child(2){
  background: #5fe06b;
}
.icon__item:nth-child(3){
  background: #D35151;
}
.icon__item:nth-child(4){
  background: #A540E2;
}
.form{
  opacity: 1;
  transition: opacity 0.5s ease;
  width:100%;
}
.thanks{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease;
}
.send > .thanks{
  opacity: 1;
  z-index: 0;
}
.send > input,.send > label{
  opacity: 0;
}
.form > input,.form > label{
  transition: opacity 0.5s ease;
}
.form__section{
  background-image: url(../img/formbg.jpg);
}
.form__margin{
  margin-bottom: calc(3vh + 6 var(--adaptive));
}
.form__padding{
  padding-top: calc(3vh + 6 var(--adaptive));
  padding-bottom: calc(3vh + 6 var(--adaptive));
}
.form__block{
  max-width: 600px;
  padding:calc(6px + 30 var(--adaptive));
}
.form__block>p{
  margin-top:calc(24px + 12 var(--adaptive));
}
.form > .input__area{
  height: 53px;
  padding: 15px 22px;
  margin-bottom: 22px;
  width:100%;
}
.form > .mr-auto{
  margin-bottom: 12px;
}
.form > .btn{
  margin: calc((40px + 14 var(--adaptive)) - 22px) 0;
}
.numbers{
  max-width: 428px;
  max-height: 320px;
  border: solid 3px white;
  padding:calc(40px + 14 var(--adaptive));
  margin:calc(0px + 130 var(--adaptive)) 0;
}
.icon__number>.call__img{
  min-width: 44px;
  min-height: 44px;
  margin-right:calc(8px + 5 var(--adaptive));
}
.name>div{
  width: calc(76px + 57 var(--adaptive));
  margin:0 14px;
  height: 5px; 
}
.numbers>*{
  margin-bottom:30px;
}
.numbers>*:last-child{
  margin-bottom:0;
}
